{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Ker Ning Hui</h1>
    <h2>Portfolio</h2>
    <br>
    <br>
    <h4>About Me:</h4>
    <p>
        Welcome to my portfolio. Studying in the course of Information Technology, I have always been passionate in anything that is computer related. I have currently set my sights on attaining more knowledge about Information Security and Hacking and also Video Game A.I. I thrive to put to good use the skills that I had and will learn these 3 years to better the lifestyles of people. Explore more information about me below and contact me directly to learn more.
    </p>

    <h4>My Resume:</h4>
    <iframe src="pdf/KNH_Resume.pdf" width="100%" height="100%">
        This browser does not support PDFs. Please download the PDF to view it:
        Download PDF
    </iframe>
</div>
{% endblock %}